* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  width: 100%;
  height: 50vh;
  background-image: url(Images/istockphoto-1370967510-612x612.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

nav {
  height: 100px;
  max-width: 1200px;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 60px;          
  height: auto;        
  margin-left: 20px;    
}
.bar-btn {
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 100%;
  height: 0; 
  top: 10%;
  background: rgba(60, 60, 60, 0.95);
  text-align: center;
  transition: all 0.5s;
}

.nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
}

.nav-menu li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu li a.active {
  background: linear-gradient(45deg, #6a0dad, #e75480);
  padding: 8px 15px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 10px #e75480;
  transition: background 0.4s ease;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 100vh; 
}

#check:checked ~ .nav-menu li {
  display: block; 
}

.banner-text {
  padding-top: 10px;
  text-align: center;
}

.banner-text h1 {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
}

.banner-text p {
  color: #fff;
  font-size: 18px;
  padding: 30px;
}

.btn-a {
  display: inline-block;
  background-color: #9900ff;
  margin-top: 30px;
  padding: 15px 30px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
}

.btn-a:hover {
  background-color: #6803ab;
}

@media (min-width: 768px) { 
  .logo {
    margin-left: 0;
  }

  header {
    height: 100vh;
  }

  nav {
    height: 100px;
    margin: 0 auto; 
  }

  .bar-btn {
    display: none; 
  }

  .nav-menu li {
    display: inline-block; 
    line-height: 100px; 
    margin: 0 20px;
    transition: none; 
  }

  .nav-menu li a {
    font-size: 18px; 
  }

  .container {
    max-width: 1200px;
    margin: 0 auto; 
  }

  .banner-text {
    padding-top: 125px; 
  }

  .banner-text h1 {
    font-size: 55px; 
  }

  .banner-text p {
    padding: 30px 200px; 
  }
}
.nav-menu li a:hover {
  color: #fff;
  background: linear-gradient(90deg, #9900ff, #6600cc);
  box-shadow: 0 0 10px #9900ff, 0 0 20px #6600cc;
  transform: scale(1.1);
  transition: all 0.3s ease;
  border-radius: 8px;
  padding: 8px 12px; 
}